@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

:root {
    box-sizing: border-box;
    --primary-color: #2A4765;
    font-size: 1.5rem;
}

*, ::before, ::after {
    box-sizing: inherit;
    border-radius: .3rem;
}

body {
    background-color: #EEE;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}

form {
    margin: 0 auto;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

form > * + * {
    margin-top: 1em;
}

.logo {
    background-color: var(--primary-color);
}

.logo > img {
    display: block;
    max-width: 30%;
    margin: 5px auto 0 auto;
}

label {
    display: flex;
    flex-direction: column;
    color: var(--primary-color);
}

input, textarea {
    font-size: .9em;
    border-radius: .1em;
}

button {
    color: white;
    padding: .5em 1.5em;
    border: none;
    background-color: var(--primary-color);
    font-size: 1.2em;
}

button:disabled {
    background-color: #EEE;
    border: solid 1px var(--primary-color);
    color: var(--primary-color);
}