{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="vapid-key" content="{{ vapid_key }}">
    {% if user.id %}
        <meta name="user_id" content="{{ user.id }}">
    {% endif %}
    <title>Уведомления СТИС</title>
    <link href="{% static '/css/styles.css' %}" rel="stylesheet" type="text/css">
</head>

<body>
{% csrf_token %}
<form id="send-push__form">
    <div class="logo">
        <img src="{% static 'img/logo.jpg' %}" alt="logo">
    </div>
    <label>Заголовок:
        <input type="text" name="head" placeholder="Уведомление" id="title">
    </label>
    <label>Сообщение:
        <textarea name="body" cols="30" rows="10" placeholder="Текст уведомления" id="body"></textarea>
    </label>
    <button class="send" id="submitBtn">Отправить</button>
</form>
<script src="{% static '/js/registerSw.js' %}"></script>
<script src="{% static '/js/site.js' %}"></script>
</body>
</html>